.contenedor {
    background-color: #202020;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}


.titulo {
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    font-size: 28px;
}


.contenedor-flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}


.contenedor1,
.contenedor2,
.contenedor3 {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 30%;
    background-color: #428bca;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}


.contenedor1:hover,
.contenedor2:hover,
.contenedor3:hover {
    background-color: #337ab7;
}


.letrasContenedor {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}


.letrasContenedorTitulo {
    font-size: 24px;
    margin-bottom: 5px;
}


.contenedor3 a,
.contenedor1 a,
.contenedor2 a {
    text-decoration: none;
    color: inherit;
}


body {
    background-color: #e9dbdb
}

.contenedor-pequeño {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100px;
    width: 12.64%;
    background-color: #428bca;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    padding: 2px;
}

.contenedor-pequeño:hover {
    background-color: #337ab7;
}

.Link {
    text-decoration: none;
    color: inherit;
    color: #fff;
}

/* Input container */
.input-container {
    position: fixed;
    top: 68px;
    /* Ajusta según sea necesario */
    right: 60px;
    /* Ajusta según sea necesario */
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

/* Input field */
.input-field {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    background-color: transparent;
    color: #fff;
}

/* Input label */
.input-label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    color: rgb(255, 255, 255);
    pointer-events: none;
    transition: all 0.3s ease;
}

/* Input highlight */
.input-highlight {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: #007bff;
    transition: all 0.3s ease;

}

/* Input field:focus styles */
.input-field:focus+.input-label {
    top: -20px;
    font-size: 12px;
    color: #007bff;

}

.input-field:focus+.input-label+.input-highlight {
    width: 100%;

}

.select-container {
    position: absolute;
    top: 71px; /* Ajusta esta distancia según sea necesario */
    right: 300px; /* Ajusta esta distancia según sea necesario */
    width: 200px; /* Ancho del select */
}

/* Estilos para el select */
#buscador {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    appearance: none;
}

/* Estilos para la flecha del select */
.select-arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

/* Estilos adicionales para el select */
/* Puedes agregar más estilos según tus necesidades */


.input-container2 {
    position: fixed;
    top: 68px;
    /* Ajusta según sea necesario */
    left: 60px;
    /* Ajusta según sea necesario */
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

/* Input field */
.input-field2 {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    background-color: transparent;
    color: #fff;
}

/* Input label */
.input-label2 {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    color: rgb(255, 255, 255);
    pointer-events: none;
    transition: all 0.3s ease;
}

/* Input highlight */
.input-highlight2 {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: #007bff;
    transition: all 0.3s ease;

}

/* Input field:focus styles */
.input-field2:focus+.input-label2 {
    top: -20px;
    font-size: 12px;
    color: #007bff;

}

.input-field2:focus+.input-label2+.input-highlight2 {
    width: 100%;

}